/* You can add global styles to this file, and also import other style files */
:root{

}


body
{
    margin: 0;
    font-size: 18px;
}


.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: blueviolet;
    padding: 1em 0;

}

header a{
    color:white;
    text-decoration: none;
}

a.logo{
    font-weight: bold;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul li a{
    padding: 1em;

}

nav ul li a:hover{
    padding: 1em;
    font-size: 19px;
    background-color: rgb(81, 18, 139);
    
}

h1{
    margin-top: 2em;
    
}